.cart-container {
    display: flex;
    flex-flow: column wrap;
    font-family:'Roboto',sans-serif;
    color:#423f32;
    margin: 3rem;
    padding: 3rem 8rem;
    border-radius: 0.2rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: white;
}

.cart-container h2 {
    border-bottom: solid #e5e7e6;
    color: #34b0b0;
    padding-bottom: 2vh;
}

.cart-container h3 {
    padding-left: 2.5vw;
}

.item-container {
    border-bottom: solid #e5e7e6;
    padding-bottom: 1vh;
    padding-left: 2.5vw;
}

.remove-item-button {
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    text-align:center;
    border:0.16em solid #FFFFFF;
    background-color: #b66574;
    padding: 0.4em 0.5em 0.3em;
}

.remove-item-button:hover {
    color:#DDDDDD;
    border-color:#DDDDDD;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.empty-cart-button {
    margin: 1rem;
    border-radius: 0.2rem;
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    background-color: #b66574;

}

.empty-cart-button:hover {
    color:#DDDDDD;
    border-color:#DDDDDD;
}

.cart-button {
    margin: 1rem;
    border-radius: 0.2rem;
    display:inline-block;
    padding:0.5em 3em;
    border:0.16em solid #FFFFFF;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Roboto',sans-serif;
    font-weight:400;
    font-size: small;
    color:#FFFFFF;
    text-align:center;
    background-color: #34b0b0;

}

.cart-button:hover {
    color:#DDDDDD;
    border-color:#DDDDDD;
}
