.cart-widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding: 0 1vw;
  font-family: "roboto", sans-serif;
  text-decoration: none;
  font-size: 2vw;
  font-weight: bold;
  color: whitesmoke;
}

.cart-counter {
  font-family: "roboto", sans-serif;
  font-size: 1.5vw;
  color: whitesmoke;
  margin: 0;
}
.cart-counter:hover {
  color: #8aaeb5;
}
