.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #DBDBDD; */
    background-color: #34b0b0;
    height: fit-content;
}

.brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    
}

.brand img {
    max-width: 4vw;
    max-height: 4vw;
    background-color: #34b0b0;
    margin: 0.5rem;
}

.brand-name {
    font-family: 'Patrick hand';
    font-size: 3vw;
    text-decoration: none;
    color: whitesmoke;
    margin: 0;
    
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5vw;

}
.links-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;

}
.nav-link {
    text-decoration: none;
    /* font-family: 'Patrick hand'; */
    font-family: "Roboto";
    font-weight: light;
    font-size: 1.8vw;
    color: white;
}

.nav-link:hover {
    /* color: #8e8d8d */
    color: #8aaeb5;
}
