nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2.5vw;
    background-color: #DBDBDD
}

a {
    text-decoration: none;
    font-family: 'roboto';
    font-size: 1.1vw;
    color: white;

}

a:hover {
    color: #8e8d8d
}
