.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.login-form-container {
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
  margin: 3rem;
  padding: 3rem;
  border-radius: 0.2rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.login-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.brand-logo {
  height: 4em;
  width: 4em;
  margin-right: 2em;
  transform: rotateZ(340deg);
}

.pawsome-welcome {
  color: #298787;
}

.login-screen p {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  text-align: center;
  color: #423f32;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto 2vw;
}

.form-input {
  margin: 0.5vh;
}

.login-form-button {
  margin: 0.5vh;
  border-radius: 0.2rem;
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  background-color: #34b0b0;
}
.login-form-button:hover {
  color: #dddddd;
  border-color: #dddddd;
}

.error {
  font-style: "roboto";
  font-size: 15px;
  color: darkred;
  margin: 1vh;
  padding: 0;
}

.register-message {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: medium;
  font-weight: 400;
  text-align: left;
  color: #423f32;
}

.link {
  margin-top: 0;
  text-decoration: none;
}

.link:visited {
  color: #298787;
}
